body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
}
.glass-form {
    padding: 30px 50px;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}
.input-wrapper {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-wrapper i {
    margin-right: 10px;
    color: #fff;
}
input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;

}
button:hover {
    background: rgba(255, 255, 255, 0.2);
}